<section class="bg-gray-50 dark:bg-gray-900">
    <div class="grid py-8 px-4 mx-auto max-w-screen-xl lg:gap-12 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="place-self-center mr-auto mb-10 lg:col-span-7 xl:col-span-8 xl:mb-0">
            <h1 class="mb-4 max-w-2xl text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">Cook like you have never cooked before</h1>
            <p class="mb-6 max-w-2xl font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Tired of prep day? Why not just prep when you cook already? We make it easy to streamline your prep throughout the week.</p>
            <ul class="hidden justify-between pt-12 mx-auto mt-14 border-t border-gray-300 xl:flex dark:border-gray-700 dark:text-white">
                <li class="flex">
                    <span class="text-4xl font-extrabold lg:text-5xl">42k</span>
                    <div class="block pl-4 text-xl text-gray-500 dark:text-gray-400">
                        <div>Our Active</div>
                        <div>Users</div>
                    </div>
                </li>
                <li class="flex">
                    <span class="text-4xl font-extrabold lg:text-5xl">3k</span>
                    <div class="block pl-4 text-xl text-gray-500 dark:text-gray-400">
                        <div>Meals</div>
                        <div>Prepped</div>
                    </div>
                </li>
                <li class="flex">
                    <span class="text-4xl font-extrabold lg:text-5xl">560k</span>
                    <div class="block pl-4 text-xl text-gray-500 dark:text-gray-400">
                        <div>Weekly</div>
                        <div>Downloads</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="justify-center p-4 max-w-screen-sm bg-white rounded-lg border border-gray-200 shadow lg:mt-0 lg:col-span-5 xl:col-span-4 sm:p-6 lg:p-8 dark:bg-gray-800 dark:border-gray-700">
          <%= form_for(@user, url: registration_path(@user), html: { class: "space-y-6" }) do |f| %>
                <h2 class="text-xl font-medium text-gray-900 dark:text-white">Join over 3,000 chefs</h2>
                <div class="flex items-center space-x-4">
                    <a href="#" class="w-full text-white bg-[#4284F4] hover:bg-[#3372df] dark:focus:ring-[#0f53c9] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"><i class="fa-brands fa-google"></i> Google</a>
                    <a href="#" class="w-full text-white bg-[#4284F4] hover:bg-[#3372df] dark:focus:ring-[#0f53c9] focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"><i class="fa-brands fa-facebook-f"></i> Facebook</a>
                </div>
                <div class="flex items-center">
                    <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
                    <div class="px-5 text-center text-gray-500 dark:text-gray-400">or</div>
                    <div class="w-full h-0.5 bg-gray-200 dark:bg-gray-700"></div>
                </div>
                <div>
                  <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                  <%= f.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
                </div>
                <div>
                  <%= f.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                  <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
                </div>
                <div>
                  <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                  <%= f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" %>
                </div>
                <div class="flex items-start">
                  <div class="flex items-start">
                      <div class="flex items-center h-5">
                        <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="remember" class="font-medium text-gray-900 dark:text-gray-300">Remember me</label>
                      </div>
                  </div>
                  <a href="#" class="ml-auto text-sm text-primary-700 hover:underline dark:text-primary-500">Lost Password?</a>
                </div>
                <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-500 dark:focus:ring-primary-700">Create an account</button>
              <% end %>
        </div>
    </div>
</section>
